<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Laguntzailea:<br />
                        <img src="img/logos/logo-euskaraldia.png" class="img-responsive img-centered" alt="Euskaraldia">
                    </a>
                </div>
                <div class="col-md-4">
                    Antolatzailea:<br />
                    <a href="https://www.deusto.eus/eu/hasiera/deusto-gara/ikastegiak/institutuak/euskal-gaiak" target="_blank">
                        <img src="img/logos/logo-euskalgaiak.png" class="img-responsive img-centered" alt="Euskal Gaien Institutua, Deustuko Unibertsitatea">
                    </a>
                </div>
                <div class="col-md-4">
                    Laguntzailea:<br />
                        <img src="img/logos/logo-dipu-bizkaia.png" class="img-responsive img-centered" alt="Bizkaiko Foru Aldundia">
                    </a>
                </div>
            </div>
        </div>
    </aside>